body{
    div{
        main{
            #forum{
                >form{
                    // display: flex;
                    // flex-wrap: wrap;
                    // justify-content: space-around;
                    input{
                        // width: 100px;
                    }
                    // .selectInSearch{
                    //     width: 100px;
                    //     padding: 0;
                    //     .css-319lph-ValueContainer{
                    //         padding: 0%;
                    //         .css-6j8wv5-Input{
                    //             padding: 0%;
                    //             margin: 0;
                    //         }
                    //     }
                    // }
                    .searchBTN {
                        background-image: url(../components/icons8-search.gif);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 30px;
                        box-shadow: none;
                    }
                    .searchBTN:hover {
                        background-color: white;
                        border: none;
                        box-shadow: none;
                        transform: none;
                        transform: scale(1.4);
                    }
                }
                #messagesSearch{
                    .ProfileCard{
                        display: grid;
                        // grid-template-columns: 200px repeat(5, 1fr);
                        // grid-template-areas: 
                        // "img name gender age btn1 btn2" 
                        // "img profT profT profT profT profT" 
                        // "form form form form form form";
                        .imgSearch{
                            grid-area: img;
                        }
                        .searchDivUserName{
                            grid-area: name;
                            margin-left: 10px;
                        }
                        .gender{
                            grid-area: gender;

                        }
                        .age{
                            grid-area: age;
                        }
                        .btn1{
                            grid-area: btn1;
                        }
                        .btn2{
                            grid-area: btn2;
                        }
                        .profileText{
                            border: none;
                            grid-area: profT;
                            // margin-left: 10px;
                        }
                        form{
                            grid-area: form;
                            margin-top: 10px;
                            input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:740px){
    .ProfileCard{
        // display: grid;
        grid-template-columns: 200px repeat(5, 1fr);
        grid-template-areas: 
        "img name gender age btn1 btn2" 
        "img profT profT profT profT profT" 
        "form form form form form form";
    }
}
@media only screen and (max-width:740px){
        .ProfileCardSearch{
            display: grid;
            grid-template-columns:  repeat(3, 1fr);
            grid-template-areas: 
            "img img img"
            "img img img"
            "name gender age"
            " . btn1 btn2"
            "profT profT profT"
            "form form form";
        }
    }
