@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

//THEME-COLOR_SETS
.BW {
    --background: rgb(240, 240, 240);
    --darkmain: rgb(100, 100, 100);
    --darksecondary: rgb(50, 50, 50);
    --brightthirdly: rgb(230, 230, 230);
    --brightmain: var(--background);
    --brightmainOpacity: rgba(240, 240, 240, .4);
    --brightsecondary: var(--background);
}

.blue {
    background-image: url("../components/amillionfriends.jpg");
    --background: rgb(250, 250, 255);
    --darkmain: rgb(80, 80, 150);
    --darksecondary: rgb(100, 100, 150);
    --brightthirdly: rgb(240, 255, 240);
    --brightmain: var(--background);
    --brightmainOpacity: rgba(250, 250, 255, .4);
    --brightsecondary: var(--background);
}

.green {
    background-image: url("../components/bg3.jpg");
    --background: rgb(250, 255, 250);
    --darkmain: rgb(50, 100, 0);
    --darksecondary: rgb(50, 50, 50);
    --brightthirdly: rgb(240, 255, 240);
    --brightmain: var(--background);
    --brightmainOpacity: rgba(250, 255, 250, .4);
    --brightsecondary: var(--background);
}

.red {
    background-image: url("../components/bg2.jpg");
    --background: rgba(255, 252, 245, .9);
    --darkmain: rgb(190, 51, 36);
    --darksecondary: rgb(140, 21, 6);
    --brightthirdly: rgb(255, 235, 205);
    --brightmain: var(--background);
    --brightmainOpacity: rgba(255, 252, 245, .4);
    --brightsecondary: var(--background);
}

//Structured Styling
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: var(--background);
    background-image: url("../components/people-4050698_1280.jpg");
    background-attachment: fixed;
    background-size: cover;
    >div {
        background-size: cover;
        background-attachment: fixed;
        min-height: 95vh;
    }
    header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 100;
        background-color: var(--darkmain);
        box-shadow: 0 0 10px var(--darksecondary);
        &:hover{
            background-color: var(--darksecondary);
        }
        nav {
            max-width: 1200px;
            width: 95%;
            height: 50px;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .active {
                border-bottom: solid 2px var(--brightthirdly);
                // box-shadow: 0px 0px 2px var(--darksecondary) inset;
                // transform: scale(1.2);
            }
            a {
                padding: .3em 1em .1em 1em;
                border-radius: 5px;
                color: var(--brightthirdly);
                text-decoration: none;
                &:hover {
                    background-color: var(--darkmain);
                    box-shadow: 0px 0px 5px var(--darksecondary);
                    transform: translateY(3px);
                    // box-shadow: 0 0 0 5px var(--brightthirdly);
                    // color: var(--darkmain);
                    // background-color: var(--brightthirdly);
                    transition: all 0.2s ease 0s;
                    transform: scale(1.1);
                }
            }
            svg {
                color: var(--brightthirdly);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }

    main {
        height: 90%;
        article {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            >form {
                position: sticky;
                top: 50px;
                // width: 100%;
                background-color: var(--brightmainOpacity);
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                padding:10px;
                box-shadow: 0px 10px 13px -7px #000000, 6px 5px 15px 2px rgba(0, 0, 0, 0);
                button {
                    background-image: url(../components/icons8-search.gif);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    // height: 25px;
                    box-shadow: none;
                }
                button:hover {
                    background-color: white;
                    border: none;
                    box-shadow: none;
                    transform: none;
                    transform: scale(1.4);
                }
            }
            section {
                background-color: var(--brightsecondary);
                box-shadow: 0px 10px 13px -7px #000000, 6px 5px 15px 2px rgba(0, 0, 0, 0);
                border-radius: 5px;
                margin-bottom: 20px;
                padding: 20px;
                >div {
                    .profileText {
                        border: 2px var(--darkmain) solid;
                        background-color: var(--brightsecondary);
                        font-style: italic;
                        font-size: 1.4rem;
                        width: fit-content;
                        padding: 10px;
                        margin-top: 10px;
                        border-radius: 10px;
                    }


                }

                // form {
                //     width: 100%;
                //     display: flex;
                //     justify-content: space-around;

                //     button {
                //         align-self: end;
                //         // height: 100%;
                //         // margin-left: 5px;
                //     }

                //     #chats {
                //         grid-area: messages;
                //         flex-direction: column;
                //     }

                //     .friendsView {
                //         border-radius: 5px;
                //         box-shadow: 0 0 7px 1px var(--darksecondary);
                //         background-color: var(--brightmain);
                //         padding: 20px 10px;
                //         margin-bottom: 20px;
                //     }
                // }

                // >.ProfileCard {
                //     display: grid;
                //     grid-template-columns: repeat(4, 1fr) repeat(2, 150px);
                //     grid-template-areas:
                //         "img userName gender age btn1 btn2"
                //         "img text text text text text"
                //         "img text text text text text"
                //         "form form form form form form";

                //     .imgSearch {
                //         grid-area: img;
                //     }

                //     .searchDivUserName {
                //         grid-area: userName;
                //         font-size: 1.5rem;
                //         font-weight: 600;
                //         display: flex;
                //         justify-content: flex-start;
                //         padding-left: 10px;
                //         overflow: hidden;
                //     }

                //     .gender {
                //         grid-area: gender;
                //         font-weight: 600;
                //         display: flex;
                //         justify-content: center;
                //     }

                //     .age {
                //         grid-area: age;
                //         font-weight: 600;
                //         display: flex;
                //         justify-content: center;
                //     }

                //     .btn1 {
                //         grid-area: btn1;
                //     }

                //     .btn2 {
                //         grid-area: btn2;
                //         margin-left: 15px;
                //     }

                //     .profileText {
                //         grid-area: text;
                //     }

                //     form {
                //         grid-area: form;
                //     }
                // }

                // .chatOV {
                //     display: flex;
                //     width: fit-content;

                //     a {
                //         text-decoration: none;
                //         display: flex;

                //         .author {
                //             grid-area: author;
                //             font-size: 2rem;
                //             font-weight: 600;
                //             text-decoration: none;
                //             color: black
                //         }
                //     }
                // }

                // .cMessages {
                //     display: grid;
                //     grid-template-columns: 1fr 1fr 1fr 1fr;
                //     grid-template-areas:
                //         "profPic user user close"
                //         "profPic . . btnfriend"
                //         "form form form  sendMessage"
                //         "messages messages messages";

                //     img {
                //         grid-area: profPic;
                //     }

                //     #name {
                //         grid-area: user;
                //     }

                //     .btnX {
                //         grid-area: close;
                //         // text-align: end;
                //     }

                //     .btn1 {
                //         grid-area: btnfriend;
                //     }

                //     .btn2 {
                //         grid-area: sendMessage;
                //     }

                //     form {
                //         grid-area: form;
                //         display: flex;
                //     }

                //     #chats {
                //         grid-area: messages;
                //         flex-direction: column;
                //     }
                // }

                // .forumClass {
                //     display: grid;
                //     grid-template-columns: 1fr 1fr;
                //     grid-template-areas:
                //         "photo name"
                //         "photo date"
                //         "subject subject"
                //         "content content"
                //         "form form";

                //     img {
                //         grid-area: photo;
                //     }

                //     .subj {
                //         padding: 10px;
                //         grid-area: subject;
                //     }

                //     .cont {
                //         padding: 10px;
                //         grid-area: content;
                //     }

                //     span {
                //         font-size: smaller;
                //         color: --brightmainOpacity;
                //         opacity: .5;
                //     }
                // }
            }
            // #chatsOV {
            //     display: flex;
            //     justify-content: space-between;
            //     flex-wrap: wrap;
            // }
        }
        #chats{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            section{
                width: fit-content;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .profile{
            section{
                padding:0;
                margin:0;
            }
        }
    }
}

// Styling over whole Document
button {
    height: 2.5rem;
    width: 4em;
    padding: .3em 1em .1em 1em;
    font-size: 1.4rem;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: var(--darkmain);
        box-shadow: 0px 4px 20px var(--darksecondary);
        color: #fff;
        transform: translateY(-3px);
    }
    &:active {
    transform: translateY(-1px);
    }
}
.activeFriend {
    color: var(--darkmain);
    &:hover {
        color: white;
    }
}

input {
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 90;
    border: 0;
    border-right: 1px solid;
    display: flex;
    text-align: center;
}

select {
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 90;
    border: 0;
    padding: 0 30px;
    border-right: 1px solid;
    background-color: white;
    color: rgb(117, 117, 117);
}

textarea {
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    width: 100%;
    margin-top: 10px;
}

img {
    border-radius: 5px;
}

#fileSelector {
    width: 100%;
}

.maxW {
    width: 95%;
}

.fullW {
    width: 350px;
}

.midW {
    width: 150px;
}

.smallW {
    width: 50px;
    ;
}

.selectInSearch {
    height: 70%;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 90;
    text-align: center;
    padding: 0 20px 10px 20px;
}

.css-1s2u09g-control {
    height: 2.5rem;
    border: 0;
    .css-1s2u09g-control{
        border:0;
    }
    .css-1hwfws3{
        margin:0;
        padding:0;
    }
    .css-g1d714-ValueContainer{
        margin:0;
        padding:0;
    }
    .css-b62m3t-container{
        height: 2.5rem;
    }
    .css-1pahdxg-control{
        height: 2.5rem;
    }
    .css-1rhbuit-multiValue{
        margin:0;
        padding:0;
    }
}

.show {
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.left {
    .profileText {
        background-color: var(--darkmain);
        color: var(--brightthirdly);
    }
}

.right {
    justify-content: end;
}

#logo871 {
    width: 26px;
    height: 26px;
}

#henriksLoadingAnimation {
    animation: henriksAnimation 3s infinite;
    margin: 0 auto;
    display: block;
}

@keyframes henriksAnimation {
    0% {
        transform: rotate(0deg)
    }

    50% {
        width: 150px;
    }

    100% {
        transform: rotate(360deg)
    }
}

//On Small Screens
@media only screen and (max-width:650px) {
    body {
        div {
            main {
                article {
                    form {
                        select {
                            width: 20%;
                            display: flex;
                            // align-self: flex-end;
                        }

                        fieldset {
                            border: none;
                        }
                    }

                    section {
                        .ProfileCard {
                            grid-template-columns: repeat(2, 1fr) repeat(2, 75px);
                            grid-template-areas:
                                "userName userName userName userName"
                                "img img img img"
                                "gender age btn1 btn2 "
                                "text text text text"
                                "text text text text"
                                "form form form form";

                            .imgSearch {
                                margin-bottom: 5px;
                            }

                            .gender,
                            .age {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            // .profileText {
                            //     border: 1px var(--darkmain) solid;
                            //     background-color: var(--brightsecondary);
                            //     font-style: italic;
                            //     font-size: 1.4rem;
                            //     // width: fit-content;
                            //     // padding:10px;
                            //     // margin-top: 10px;
                            //     border-radius: 10px;
                            // }

                            button {
                                padding: 5px 0 0 0;
                                margin: 5px;
                            }

                        }

                        form {
                            input {
                                width: 100%;
                            }

                            textarea {
                                width: 100%;
                            }
                        }

                        // .messages {
                        //     grid-template-columns: repeat(3, 1fr) 75px;
                        //     grid-template-areas:
                        //         "img author . . "
                        //         "img subject . btn3"
                        //         "text text text  btn4"
                        //         "form form form form";
                        // }
                    }

                    // .chatOV {
                    //     flex-direction: column;

                    //     a {
                    //         flex-direction: column;
                    //     }
                    // }
                }
            }
        }
    }

    .friendsView {
        display: grid;
        grid-template-columns: 1fr 75px;
        grid-template-areas:
            "img button"
            "div div";

        .profPicDiv {
            width: 100px;
            height: 100px;
            border-radius: 5px;
            grid-area: img;
        }

        div {
            grid-area: div;
        }

        .divInFriendsView {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: button;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }

    .bigScreen {
        display: none;
    }

    .messageHeader {
        display: block;
    }

    img {
        width: 100%;
    }

    .maxW {
        width: 95%;
    }

    .fullW {
        width: 100%;
    }

    .midW {
        width: 100px;
    }

    .smallW {
        width: 50px;
        ;
    }
}

//On Big Screens
@media only screen and (min-width:650px) {
    .smallScreen {
        display: none;
    }

    .messageHeader {
        display: flex;
        justify-content: space-between;
    }

    img {
        width: 200px;
    }

    .friendsView {
        display: grid;
        grid-template-columns: 1fr 1fr 75px;
        grid-template-areas:
            " img div button";

        .profPicDiv {
            grid-area: img;
            border-radius: 5px;
            height: 200px;
            width: 200px;
            // background-size: 200px 200px;
            // background-position: center;
            // background-repeat: no-repeat;
        }

        div {
            grid-area: div;
        }

        button {
            grid-area: button;
        }
    }
}