@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

//THEME-COLOR_SETS
.BW{
    --background:rgb(240,240,240);
    --darkmain:rgb(100, 100, 100);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(230,230,230);
    --brightmain:var(--background);
    --brightmainOpacity:rgba(240,240,240, .4);
    --brightsecondary:var(--background);
}
.blue{
    background-image: url("../components/amillionfriends.jpg");
    --background:rgb(250,250,255);
    --darkmain:rgb(80, 80, 150);
    --darksecondary:rgb(100,100,150);
    --brightthirdly:rgb(240,255,240);
    --brightmain:var(--background);
    --brightmainOpacity:rgba(250,250,255, .4);
    --brightsecondary:var(--background);
}
.green{
    background-image: url("../components/bg3.jpg");
    --background:rgb(250,255,250);
    --darkmain:rgb(50, 100, 0);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(240,255,240);
    --brightmain:var(--background);
    --brightmainOpacity:rgba(250,255,250, .4);
    --brightsecondary:var(--background);
}
.red{
    background-image: url("../components/bg2.jpg");
    --background:rgb(255,252,245);
    --darkmain:rgb(190, 51, 36);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(255,235,205);
    --brightmain:var(--background);
    --brightmainOpacity:rgba(255,252,245, .8);
    --brightsecondary:var(--background);
}

//Structured Styling
body{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: var(--background);
    background-image: url("../components/people-4050698_1280.jpg");
    background-attachment: fixed;
    background-size: contain;
    >div{
        background-size: cover;
        background-attachment: fixed;
        min-height: 95vh;
    }
    header{
        position: sticky;
        width: 100%;
        top:0;
        z-index: 100;
        background-color:var(--darkmain);
        box-shadow: 0 0 10px var(--darksecondary);
        nav{
            max-width: 1200px;
            width: 95%;
            height: 50px;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content:space-between;
            .active{
                border-bottom:solid 2px var(--brightthirdly);
            }
            a{
                display: flex;
                align-items: center;
                color: var(--brightthirdly);
                text-decoration: none;
                &:hover{
                    color:black;
                }
            }
            svg{
                // padding:15px;
                color: var(--brightthirdly);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }
    main{
        height: 90%;
        article{
//            width: 95%;
            max-width: 1200px;
            margin:0 auto;
            padding: 20px;
            background-color: var(--brightmainOpacity);
            >form{
                position: sticky;
                top:50px;
                width: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 20px;
                >div{
                    display: inline-flex;
                    flex-direction: column;
                }
                button{
                    height: 100%;
                    padding: 10px;
                }
            }
            .signin{
                >input{
                    width: 300px;
                }
                fieldset{
                    input{
                        width: 20px;
                    }
                }
            }
            section{
                >div {
                    padding: 20px 10px;
                    margin-bottom: 20px;
                    background-color: var(--brightsecondary);
                    border-radius: 5px;
                    box-shadow: 0 0 7px 1px var(--darksecondary);
 //                   border-bottom: solid 3px var(--darkmain);
                    .profileText{
                        border: 2px var(--darkmain) solid;
                        background-color: var(--brightsecondary);
                        font-style: italic;
                        font-size: 1.4rem;
                        width: fit-content;
                        padding:10px;
                        margin-top: 10px;
                        border-radius: 10px;
                    }
                    .activeFriend{
//                           background-color: var(--darkmain);
//                           color:white;
                        color:var(--darkmain);
                    }
                    img {
                        border-radius: 25px;
                    }
                }
                form{
                    .friendsView{
                         border-radius: 5px;
                         box-shadow: 0 0 7px 1px var(--darksecondary);
                         background-color: var(--brightmain);
                         padding: 20px 10px;
                         margin-bottom: 20px;
                    }
                }
                >.ProfileCard{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr) repeat(2,75px);
                    grid-template-areas: 
                        "img userName userName userName userName userName"
                        "img gender age . btn1 btn2"
                        "text text text text text text"
                        "text text text text text text"
                        "form form form form form form";
                    .imgSearch{
                        grid-area: img;
                    }
                    .searchDivUserName{
                        grid-area: userName;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    .gender{
                        grid-area: gender;
                        font-weight: 600;
                    }
                    .age{
                        grid-area: age;
                        font-weight: 600;
                    }
                    .btn1{
                        grid-area: btn1;
                    }
                    .btn2{
                        grid-area: btn2;
                    }
                    .profileText{
                        grid-area: text;
                    }
                    form{
                        grid-area: form;
                    }
                }
                >.messages{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr) 75px;
                    grid-template-areas: 
                        "img author . . btn4"
                        "img subject . . btn3"
                        "text text text text ."
                        "form form form form form";
                    .img2{
                        width: 100px;
                        grid-area: img;
                    }
                    .author{
                        grid-area: author;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    .subject{
                        grid-area: subject;
                        font-weight: 600;
                    }
                    .btn1{
                        grid-area: btn3;
                    }
                    .btn2{
                        grid-area: btn4;
                    }
                    form{
                        grid-area: form;
                    }
                    .profileText{
                        grid-area: text;
                    }
                }
                .chatOV{
                    display: grid;
                    text-decoration: none;
                    grid-template-areas: 
                    "img author";
                    .img2{
                        grid-area: img;
                    }
                    .author{
                        grid-area: author;
                        font-size: 2rem;
                        font-weight: 600;
                        text-decoration: none;
                        color:black
                    }
                }
                .cMessages{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-areas: 
                    "profPic user close"
                    "profPic btnfriend . "
                    "form form form "
                    "messages messages messages";
                    img{
                        grid-area: profPic;
                    }
                    #name{
                        grid-area: user;
                    }
                    a{
                        grid-area: close;
                        text-align: end;
                    }
                    button{
                        grid-area:btnfriend;
                    }
                    form{
                        grid-area: form;
                        display: flex;
                    }
                    #chats{
                        grid-area: messages;
                    }
                }
                .forum{
                    display: grid;
                    grid-template-columns: 25% 75%;
                    grid-template-areas: 
                    "photo name"
                    "photo date"
                    "subject subject"
                    "content content"
                    "form button";
                    img{
                        grid-area: photo;
                    }
                    .subj{
                        padding: 10px;
                        grid-area: subject;
                    }
                    .cont{
                        padding: 10px;
                        grid-area: content;
                    }
                    span{
                        font-size: smaller;
                        color: --brightmainOpacity;
                        opacity: .5;
                    }
                    form{
                        grid-area: form;
                        // display: flex;
                        button{
                            height: 100%;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

// Styling over whole Document
#fileSelector{
    width: 100%;
}
button{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    height: 32px;
    width: fit-content;
    font-weight: 200;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--darksecondary);
//    color: var(--brightthirdly);
//    border:none;
    background-color: var(--brightsecondary);
    &:hover{
        box-shadow: 0 0 5px var(--darkmain) inset;
        background-color:var(--darksecondary);
        color: var(--brightthirdly);
    }
}
input{
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 90;
}
// .formForumInput{
//     display: flex;
//     flex-direction: row;
// }
.ageInput{
    width: 100px;
}
select{
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}
textarea{
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    width: 100%;
}

.show {
    display: flex;
}
.hide {
    display: none;
}
.flex{
    display: flex;
}
.left{
    .profileText{
        background-color:var(--darkmain);
    color:var(--brightthirdly);
    }
}
.right{
    justify-content: end;
}
#logo871{
    width: 26px;
    height: 26px;
}
#henriksLoadingAnimation{
    animation: henriksAnimation 3s infinite;
    margin: 0 auto;
    display: block;
}
@keyframes henriksAnimation{
    0%{ 
     transform: rotate(0deg)   
    }
    50%{
        width: 150px;
    }
    100%{
        transform: rotate(360deg)
    }
}

  /* generated by https://loading.io/ */
@keyframes ldio-qydde5o934a {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }.ldio-qydde5o934a div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-qydde5o934a 1.0526315789473684s cubic-bezier(0,0.2,0.8,1) infinite;
  }.ldio-qydde5o934a div:nth-child(1) {
    border-color: #bc3c68;
    animation-delay: 0s;
  }
  .ldio-qydde5o934a div:nth-child(2) {
    border-color: #32d1e2;
    animation-delay: -0.5263157894736842s;
  }
  .loadingio-spinner-ripple-jjyczsl43u {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-qydde5o934a {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-qydde5o934a div { box-sizing: content-box; }


//On Small Screens
@media only screen and (max-width:650px) {
    body{
        div{
            main{
                article{
                    form{
                        select{
                            width: 20%;
                            display: flex;
                            align-self: flex-end;
                        }
                        input{
                            width: 97%;

                        }
                        textarea{
                            width: 98%;
                        }
                    }
                    section{
                        .ProfileCard{
                            grid-template-columns: repeat(2, 1fr) repeat(2,75px);
                            grid-template-areas: 
                            "userName userName userName userName"
                            "img img img img"
                            "gender age btn1 btn2 "
                            "text text text text"
                            "text text text text"
                            "form form form form";
                        }
                        .messages{
                            grid-template-columns: repeat(3, 1fr) 75px;
                            grid-template-areas: 
                        "img author . . "
                        "img subject . btn3"
                        "text text text  btn4"
                        "form form form form";
                        }
                    }
                }
            } 
        }
    }
    .buttonSubmit{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .friendsView{
        display: grid;
        grid-template-columns: 1fr 75px;
        grid-template-areas: 
        "img button"
        "div div";
        .profPicDiv{
            width: 100px;
            height: 100px;
            border-radius: 5px;
            grid-area: img;
        }
        div{
            grid-area: div;
        }
        .divInFriendsView{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: button;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }
    .bigScreen{
        display: none;
    }
    .messageHeader{
        display: block;
    }
    img{
        width: 100%;
    }
}

//On Big Screens
@media only screen and (min-width:650px) {
    .smallScreen{
        display: none;
    }
    .messageHeader{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 200px;
    }
    .friendsView{
            display: grid;
            grid-template-columns:  1fr 1fr 75px;
            grid-template-areas: 
        " img div button";
        .profPicDiv{
                grid-area: img;
                border-radius: 5px;
                height: 200px;
                width: 200px;
                // background-size: 200px 200px;
                // background-position: center;
                // background-repeat: no-repeat;
            }
            div{
                grid-area:div;
            }
            button{
                grid-area:button;
            }
        }
}


/*
STUCTURE
header
    nav
        a
        svg
main
    article
        form
            Section/Div
            input
            select
            button
        section
            div/profileCard
                img
                div
                button
                form/hide/show
            div/messages
                
 */