@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    height: 100vh;
    margin:0;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 2rem;
    font-weight: 100;
    background-color: hsl(211, 49%, 14%);
    header{
        background-color:rgb(188,70,58);
        box-shadow: 0 0 7px black inset;
        nav{
            max-width: 1200px;
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content:space-between;
            a{
                color: rgb(255,255,205);
                padding:15px;
                text-decoration: none;
                &:hover{
                    color:rgb(50,50,50);
                    border-radius: 20px;
                    //box-shadow: 0px 0px 20px rgb(255,255,205) ;
                }
            }
            svg{
                color: rgb(255,255,205);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }
    main{
        height: 90%;
        article{
            width: 95%;
            max-width: 1200px;
//            height: 100%;
            margin:0px auto;
            padding: 10px;
            background-color: rgb(255,255,245);
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                button{
                    background-color: white;
                    color:black;
                    height: 52px;
                }
                input{
                    font-size: 2rem;
                    font-family: "Helvetica Neue";
                    font-weight: 100;
                }
                >div{
                    display: inline-flex;
                    flex-direction: column;
                }
                select{
                    font-size: 2rem;
                    font-family: "Helvetica Neue";
                    font-weight: 100;
                    option{
                    }
                }
            }
            section{
                >.ProfileCard{
                    padding: 20px 0;
                    margin-bottom: 10px;
                    background-color: antiquewhite;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    border-bottom:solid 10px rgb(188,70,58); 
                    // border-top:solid 30px rgb(188,70,58);
                    div{
                        width: 100%;
                        .profileHeader{
                            display: flex;
                            // flex-wrap: wrap;
                            justify-content: space-between;
                        }
                    }
                    .show{
                        display: block;
                    }
                    .hide{
                        display: none;
                    }
                    img{
                        width: 200px;
                        border-radius: 20px;
                    }
                }
                >.messages{
                    padding: 20px 0;
                    margin-bottom: 10px;
                    background-color: antiquewhite;
                    border-radius: 20px;
//                    display: flex;
//                    flex-wrap: wrap;
//                    justify-content: space-between;
                    border-bottom:solid 10px rgb(188,70,58);
                    .messageHeader{
                        display: flex;
                        justify-content: space-between;
                    }
                    .show{
                        display: block;
                    }
                    .hide{
                        display: none;
                    }
                    img{
                        width: 100px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:650px) {
    .bigScreen{
        display: none;
    }
}
@media only screen and (min-width:650px) {
    .smallScreen{
        display: none;
    }
}