@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    height: 100vh;
    margin:0;
    //font-family: 'Bebas Neue', cursive;
    font-family: "Helvetica Neue";
    // font-family: 'Ubuntu', sans-serif;
    // font-family: 'Bebas Neue', cursive;
    // font-family: 'Freckle Face', cursive;
    // font-family: 'Lobster', cursive;
    // font-family: 'Luckiest Guy', cursive;
    // font-family: 'Mrs Sheppards', cursive;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Pompiere', cursive;
    // font-family: 'Roboto', sans-serif;

    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    background-color: hsl(211, 49%, 14%);
    header{
        background-color:rgb(188,70,58);
        box-shadow: 0 0 7px black inset;
        nav{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content:space-between;
            a{
                color: rgb(255,255,205);
                padding:15px;
                text-decoration: none;
                &:hover{
                    color:rgb(50,50,50);
                    border-radius: 20px;
                    //box-shadow: 0px 0px 20px rgb(255,255,205) ;
                }
            }
            svg{
                color: rgb(255,255,205);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }
    main{
        //background-color: rgb(212,165,155);
        height: 90%;
        
        article{
            width: 95%;
            max-width: 1200px;
            height: 100%;
            margin:0px auto;
            background-color: rgb(255,255,245);
            section{
                .ProfileCard{
                    display: flex;
                    justify-content: space-between;
                    border-bottom:solid 30px rgb(188,70,58); 
                    border-top:solid 30px rgb(188,70,58);
                }
            }
            form{
                
                input{
                    font-size: 2rem;
                    font-family: "Helvetica Neue";
                    font-weight: 100;
                    width: 200px;
                }
                >div{
                    display: inline-flex;
                    flex-direction: column;
                }
                select{
                    font-size: 2rem;
                    font-family: "Helvetica Neue";
                    font-weight: 100;
                    option{
                        
                    }
                }
            }
        form{
            display: flex-wrap;
            flex-direction: column;
            align-items: center;

        }
        }
    }
}