@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    background-color: hsl(211, 49%, 14%);
    header{
        background-color:rgb(188,70,58);
        box-shadow: 0 0 7px black inset;
        nav{
            max-width: 1200px;
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content:space-between;
            a{
                color: rgb(255,255,205);
                text-decoration: none;
                &:hover{
                    color:rgb(50,50,50);
                    border-radius: 20px;
                }
            }
            svg{
                padding:15px;
                color: rgb(255,255,205);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }
    main{
        height: 90%;
        article{
            width: 95%;
            max-width: 1200px;
            margin:0 auto;
            padding: 10px;
            background-color: rgb(255,255,245);
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                button{
                    background-color: white;
                    color:black;
                    height: 52px;
                }
                input{
                    font-size: 2rem;
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight: 100;
                }
                >div{
                    display: inline-flex;
                    flex-direction: column;
                }
                select{
                    font-size: 2rem;
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight: 100;
                    option{
                    }
                }
            }
            section{
                >.ProfileCard{
                    padding: 20px 0;
                    margin-bottom: 10px;
                    background-color: antiquewhite;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    border-bottom:solid 10px rgb(188,70,58); 
                    div{
                        width: 100%;
                        .profileHeader{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .show{
                        display: block;
                    }
                    .hide{
                        display: none;
                    }
                    img{
                        
                        border-radius: 20px;
                    }
                }
                >.messages{
                    padding: 20px 0;
                    margin-bottom: 10px;
                    background-color: antiquewhite;
                    border-radius: 20px;
                    border-bottom:solid 10px rgb(188,70,58);
//                    .messageHeader{
//                        display: flex;
//                        justify-content: space-between;
//                    }
                    .show{
                        display: block;
                    }
                    .hide{
                        display: none;
                    }
                    img{
                        width: 100px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
//On Small Screens
@media only screen and (max-width:650px) {
    .bigScreen{
        display: none;
    }
    .messageHeader{
        display: block;
    }
    .profileHeader{
        flex-wrap: wrap;
    }
    img{
        width: 100%;
    }
}
//On Big Screens
@media only screen and (min-width:650px) {
    .smallScreen{
        display: none;
    }
    .messageHeader{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 200px;
    }
}
