@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.BW{
    --background:rgb(240,240,240);
    --darkmain:rgb(100, 100, 100);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(230,230,230);
    --brightmain:var(--background);
    --brightsecondary:var(--background);
}
.blue{
    --background:rgb(250,250,255);
    --darkmain:rgb(80, 80, 150);
    --darksecondary:rgb(100,100,150);
    --brightthirdly:rgb(240,255,240);
    --brightmain:var(--background);
    --brightsecondary:var(--background);
}
.green{
    --background:rgb(250,255,250);
    --darkmain:rgb(50, 100, 0);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(240,255,240);
    --brightmain:var(--background);
    --brightsecondary:var(--background);
}
.red{
    --background:rgb(255,252,245);
    --darkmain:rgb(190, 51, 36);
    --darksecondary:rgb(50,50,50);
    --brightthirdly:rgb(255,235,205);
    --brightmain:var(--background);
    --brightsecondary:var(--background);
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    background-color: var(--background);
    header{
        position: sticky;
        top:0;
        z-index: 100;
        background-color:var(--darkmain);
        box-shadow: 0 0 10px var(--darksecondary);
        nav{
            max-width: 1200px;
            width: 95%;
            height: 50px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content:space-between;
            a{
                display: flex;
                align-items: center;
                color: var(--brightthirdly);
                text-decoration: none;
                &:hover{
                    color:black;
                }
            }
            svg{
                // padding:15px;
                color: var(--brightthirdly);
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
        }
    }
    main{
        height: 90%;
        article{
            width: 95%;
            max-width: 1200px;
            margin:0 auto;
            padding: 10px;
            background-color: var(--brightmain);
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
 //               button{
 //                   background-color: white;
 //                   color:black;
 //                   height: 43px;
 //               }
                input{
                    font-size: 1.5rem;
                    width:120px;
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight: 90;
                }
                >div{
                    display: inline-flex;
                    flex-direction: column;
                }
                select{
                    font-size: 1.5rem;
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight: 200;
                    option{
                    }
                }
                textarea{
                    font-size: 2rem;
                    font-family: "Helvetica Neue", sans-serif;
                    font-weight: 200;
                }
            }
            .signin{
                >input{
                    width: 300px;
                }
                fieldset{
                    input{
                        width: 20px;
                    }
                }
            }
            section{
                >div {
                    padding: 20px 10px;
                    margin-bottom: 10px;
                    background-color: var(--brightsecondary);
                    border-radius: 20px;
                    box-shadow: 0 0 7px 1px var(--darksecondary);
 //                   border-bottom: solid 3px var(--darkmain);
                    .profileText{
                        background-color: var(--brightmain);
                        padding:10px 0;
                        margin-top: 10px;
                        border-radius: 10px;
                    }
                    div{
 //                       button{
 //                           background-color: white;
 //                           border-radius: 10px;
 //                           height: 52px;
 //                       }
                        .activeFriend{
 //                           background-color: var(--darkmain);
 //                           color:white;
                            color:var(--darkmain);
                        }
                    }
                    .show {
                        display: block;
                    }
                    .hide {
                        display: none;
                    }
                    img {
                        border-radius: 25px;
                    }
                }
                >.ProfileCard{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    div{
                        width: 100%;
                        .profileHeader{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
                >.messages{
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
}

button{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    border-radius: 5px;
//    background-color:var(--darksecondary);
//    color: var(--brightthirdly);
//    border:none;
    background-color: var(--brightsecondary);
    &:hover{
        box-shadow: 0 0 5px var(--darkmain) inset;
        background-color:var(--darksecondary);
        color: var(--brightthirdly);
    }
}
//On Small Screens
@media only screen and (max-width:650px) {
    .bigScreen{
        display: none;
    }
    .messageHeader{
        display: block;
    }
    .profileHeader{
        flex-wrap: wrap;
    }
    img{
        width: 100%;
    }
}
//On Big Screens
@media only screen and (min-width:650px) {
    .smallScreen{
        display: none;
    }
    .messageHeader{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 200px;
    }
}
