body{
    font-family: 'Bebas Neue', cursive;
    // font-family: 'Freckle Face', cursive;
    // font-family: 'Lobster', cursive;
    // font-family: 'Luckiest Guy', cursive;
    // font-family: 'Mrs Sheppards', cursive;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Pompiere', cursive;
    // font-family: 'Roboto', sans-serif;

    font-size: 1rem;
    text-align: center;
    font-style: italic;
    background-color: hsl(211, 49%, 14%);
    header{
        nav{

            display: flex;
            justify-content: space-around;
        }
    }
    main{
        background-color: rgb(255, 1, 1);
        article{
            #cardsWrapper{
                display: flex;
                flex-wrap: wrap;
                .card{
                    box-shadow:0 0 5px grey inset;
                    img{
                        width: 100px;
                    }
                }
            }
        form{
            display: flex-wrap;
            flex-direction: column;
            align-items: center;

        }
        }
    }
}